@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon--btn {
    @apply grid justify-center content-center h-[44px] w-[44px] transition ease-in-out delay-0 hover:-translate-y-1 hover:scale-110 focus:-translate-y-1 focus:scale-110 duration-150;
  }

  .icon--btn:focus svg {
    fill: white;
  }

  .h2 {
    @apply text-nyanza-500 text-xl xs:text-3xl;
  }

  .paragraph {
    @apply text-xl text-celadon-500;
  }

  .nav--item {
    @apply text-sm text-celadon-500 uppercase font-bold tracking-widest flex transition ease-in-out delay-0 duration-150;
  }

  .nav--item.clicked {
    @apply underline underline-offset-8;
  }

  li:hover .nav--item,
  li:focus-within .nav--item,
  .nav--item.clicked {
    @apply text-celadon-800 scale-110 translate-x-1;
  }

  .icon {
    @apply h-8 w-8 text-celadon-500 hover:text-celadon-800;
  }
}
